<section>

  <%= form_with model: @wallet, url: "/groups_wallets", local: true, class: "form mx-auto" do |form| %>
    <div class="banner">
    <%= link_to "/categories/#{@back_id}", class: 'text-light h1' do %>
        <i class="bi bi-arrow-left"></i>
    <% end %>
      <h2>NEW Transaction</h2>
      <%= form.submit "save", class:"btn btn-primary" %>
    </div>
    <div class="content">
      <div class="col-sm-10 mb-3 mx-auto">
        <%= form.label :name ,class: "form-label form-label" %></br>
      <%= form.text_field :name, required: true, class: "form-control", placeholder: " item name" %>
    </div>
    <br>
    <div class="col-sm-10 mb-3 mx-auto">
      <%= form.label :amount ,class: "form-label form-label" %></br>
    <%= form.text_field :amount, required: true, class: "form-control", placeholder: "enter amount" %>
  </div>
  <div class="col-sm-5">
        <%= form.label :category ,class: "form-label form-label" %></br>

    <%= form.select :group_id, options_for_select(@groups.map { |group| [group.name, group.id] }), { prompt: "Select category" }, { required: true, class: "form-control" } %>
  </div>
</div>
<% end %>
</section>
