<section class="bg-light">
  <div class="d-flex border container gap-5 align-items-center">
    <%= link_to '/categories', class: 'text-light h1' do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
    <h2 class="text-light">DETAILS</h2>
  </div>
  <div class="d-flex justify-content-between align-items-center container shadow-sm bg-light ">
    <h5>Total Amount:</h5>
    <h5><%= number_to_currency(@group_expenses.sum(:amount)) %></h5>
  
  </div>
  <div class="expenses m-3">
    <% if @group_expenses.length == 0 %>
      <p>nothing to show add some!</p>
    <% else %>
      <% @group_expenses.each do |expense| %>
        <div class="colar d-flex border p-2 rounded-1 shadow-sm mt-2 justify-content-between align-items-center pt-3">
          <h6><%= expense.name %></h6>
          <h6><%= number_to_currency(expense.amount) %></h6>
        </div>
      <% end %>
    <% end %>
  </div>
  <footer class=" footer fixed-bottom d-flex cat">
    <%= link_to "/#{@group_id}/new_groups_wallets", class: "  btn btn-outline-light text-decoration-none rounded-1 col-11 mx-auto" do %>
      <h4 class="mt-3">ADD EXPENSE</h4>
    <% end %>
  </footer>
</section>
